In [28]:
print("python is fun")

python is fun

In [29]:
print("learning ptthon is fun")

learning ptthon is fun

In [30]:
import os

In [31]:
area=5*5*14.159

In [32]:
#3-7
question1='Is your birthday in set1?\n'+ \
'1  3  5  7\n'+\
'9  11  13  15\n'+\
'17  19  21  23\n'+\
'25  27  29  31\n'+\
'\n Enter 1 for Yes and 0 for No:'
print(question1)

Is your birthday in set1?
1  3  5  7
9  11  13  15
17  19  21  23
25  27  29  31

 Enter 1 for Yes and 0 for No:

In [33]:
#3-8
print('Hello,world')
print('Hello,',end='')
print('world')
s='Hello,'+\
'world'
print(s)

Hello,world
Hello,world
Hello,world

In [35]:
#3-16
num1,num2,num3=eval(input('Enter three numbers separated by comma:'))
total=num1+num2+num3
average=total/3
print('total=%d,and average = %f'%(total,average))

Enter three numbers separated by comma:100,150,170
total=420,and average = 140.000000

In [36]:
print('total=%d,and average=%.2f'%(total,average))

total=420,and average=140.00

In [37]:
#3-17
radius=eval(input('enter the radius:'))
area=radius*radius*3.14159
perimeter=2*3.14159*radius
print('Area=%.2f'%(area))
print('Perimeter=%.2f'%(perimeter))

enter the radius:5
Area=78.54
Perimeter=31.42

In [38]:

import math
radius=eval(input('Enter the radius:'))
area=radius*radius*math.pi
perimeter=2*radius*radius
print('Area=%.2f'%(area))

Enter the radius:5
Area=78.54

In [40]:
#3-19
#input 3 integers then calculate total and average
num1,num2,num3=eval(input('Enter three numbers separated by comma:'))

#calculate total and average
total=num1+num2+num3
average=total/2

#display total and average
print('total=%d,and average = %f'%(total,average))

Enter three numbers separated by comma:100,150,170
total=420,and average = 210.000000

In [41]:
#3-20
a=100
b=200
c,d=a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [42]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='')
print(d,end='***')
print('Over')

100 200
100200***Over

In [43]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end='***')
print('Over')

100 200
100$and
200***Over

In [44]:
#3-21
x=100
y=3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

300
33.333333333333336
33
1
1000000
10.0

In [45]:
str1='Hello,'
str2="Python"
str3=str1+str2
print(str3)
a=100
b=200
c=a+b
print(c)

Hello,Python
300

In [46]:
str1='Hello,'+\
'Python,Let\'s lerning '
str2="Python now"
str3=str1+str2
print(str3)

Hello,Python,Let's lerning Python now

In [47]:
#3-22
a=100
b=3
a=a//b
print(a)

a=100
a=a%b
print(a)

a=100
a=a/b
print(a)

33
1
33.333333333333336

In [48]:
a=100
b=200
print(a,b)

b,a=a,b
print(a,b)

100 200
200 100

In [49]:
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [50]:
a=eval(input('Enter an integer:'))
b=a+100
print(a,b)

str1=input('Enter a string:')
str2=str1+'i8'

print(str2)

Enter an integer:5
5 105
Enter a string:6\
6\i8

In [51]:
str1='Hello,'+\
'Python,Let\'s learning '
str2='Python now'
str3=str1+str2
print(str3)

Hello,Python,Let's learning Python now

In [52]:

#Convert Fahrenheit to Ceisius
print('Fahrenheit 212 is Celsius degree')
print(5/9*(212-32))

Fahrenheit 212 is Celsius degree
100.0

In [53]:
#3-24
#change a and b
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [54]:
a = eval(input("Enter an integer:"))
b = a + 100
print(a,b)

Enter an integer:5
5 105

In [55]:
a=eval(input('Enter an intiger:'))
b=a+100
print(a,b)

Enter an intiger:5
5 105

In [56]:
#display two messages
a=100
b=200
print(a,b)

100 200

In [57]:
#3-25
41/5

8.2

In [58]:

41//5

8

In [59]:
41%5

1

In [60]:
50%5

0

In [61]:
1%2

1

In [62]:
35%3

2

In [18]:
45+4*3-12

45

In [19]:
45+34%3*(21*3%2)

46

In [20]:

6**3-21

195

In [21]:

100**0.5*2-29

-9.0

In [22]:

a=10
a+=3
print(a)
a*=3
print(a)
a/=3
print(a)
a//=3
print(a)
a%=3
print(a)

13
39
13.0
4.0
1.0

In [26]:
print(1,end="")
print(22,end="")
print(333)
print()

122333

In [27]:
print(1,end="$")
print(22,end="@@@@@")
print(333)
print("over")

1$22@@@@@333
over

In [72]:
num1,num2,num3,num4,num5=eval(input('Please enter 5 numbers separated by comma :'))
Sum=num1+num2+num3+num4+num5
average=Sum/5
print('Sum=%d,and average=%.1f'%(Sum,average))

SyntaxError: invalid syntax (<ipython-input-72-bc623cb874e4>, line 1)

In [69]:
5/2 + 5//2 + 2**3 + 5%2

13.5

In [70]:
num1,num2=eval(input("pleasse enter height and weight"))

2